.form-upload-section .btn-upload {
  line-height: 30px; }

.form-upload-section .upload-instructions {
  display: block;
  text-align: center;
  color: #888;
  font-size: 12px;
  padding: 20px; }

.form-upload-section .uploading-box {
  margin: 10px 0;
  padding: 10px;
  height: 300px;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #b6b6b6;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

.uploading-box {
  margin-top: 20px; }
  .uploading-box .upload-item {
    display: block;
    width: 130px;
    height: 195px;
    padding: 5px;
    float: left;
    background-color: #f2f2f2;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-right: 10px;
    margin-bottom: 10px;
    color: #9C9B9B;
    font-size: 13px;
    text-align: center;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }
    .uploading-box .upload-item.upload-completed {
      background-color: #E5E5E5; }
    .uploading-box .upload-item.upload-error {
      background-color: #FDE5DD !important; }
    .uploading-box .upload-item .upload-progress {
      margin-top: 10px;
      width: 100%; }
    .uploading-box .upload-item .filename {
      display: block;
      width: 100%;
      height: 20px;
      overflow: hidden;
      margin-bottom: 10px; }